// p {
//     line-height: 2rem;
// }
#home {
    // .top-banner {
    //     width: 100%;
    //     display: block;
    // }
    // .row {
    //     margin-top: 10px;
    //     margin-bottom: 10px;
    // }
    .icon-block {
        padding: 1px 15px;
        border-radius: 20px;
        h2 {
            margin: 1rem 0 0 0;
        }
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
    // footer.page-footer {
    //     margin: 0;
    // }
}
