<div id="home">
    <div class="top-banner parallax-container">
        <div parallax>
            <img src="image01.jpg">
        </div>
    </div>
    <div class="mid-banner section orange lighten-4 z-depth-2">
        <div class="row">
            <div class="col s12 m12 l6 offset-l3">
                <div class="icon-block orange lighten-5 z-depth-2">
                    <h3 class="icon center orange-text"><i class="material-icons">wb_sunny</i></h3>
                    <h5 class="center">Welcome to the website for Royal Poinciana at Boca Raton</h5>
                    <p class="center light">Residents, please log in to view notices and download documents.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bot-banner row valign-wrapper orange lighten-5">
        <div class="col s2 m2 l2" ng-repeat="slide in $ctrl.slideshow">
            <img class="valign" ng-src="{{slide.imagePath}}">
        </div>
    </div>
</div>
