#home {
    .parallax-container {
        height: 400px;
    }
    .mid-banner {
        z-index: 100;
        position: relative;
        box-shadow: 0px -10px 24px -19px black;
        .row {
            margin: 10px 0px;
        }
    }
    .icon-block {
        padding: 1px 15px;
        border-radius: 20px;
        .icon {
            margin: 1.0vw 0 0 0;
        }
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
}
