<div id="home">
    <div class="top-banner parallax-container">
        <div parallax>
            <img src="image01.jpg">
        </div>
    </div>
    <div class="mid-banner row">
        <div class="section orange lighten-4">
            <div class="col s12 m12 l6 offset-l3">
                <div class="icon-block orange lighten-5 z-depth-1">
                    <h3 class="icon center orange-text"><i class="material-icons">wb_sunny</i></h3>
                    <h5 class="center">Welcome to the website for Royal Poinciana at Boca Raton</h5>
                    <p class="center light">Residents, please log in to view notices and download documents.</p>
                </div>
            </div>
        </div>
    </div>
</div>
