<div class="notices" id="notices">
    <div class="row pageTitle">
        <div class="top-banner orange lighten-5">
            <h4 class="center page-title">Notices</h4>
        </div>
    </div>
    <div class="row pageContent">
        <div class="container section">
            <div ng-repeat="notice in $ctrl.noticeList">
                <div class="row noticeContainer orange lighten-5 col s12 m12 l12 z-depth-2">
                    <h5>{{notice.title}}</h5>
                    <div class="timestamp">{{notice.timestamp}}</div>
                    <hr>
                    <div class="noticeText" ng-bind-html="notice.noticeContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
