<div id="notices">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <div class="form-container col s8 offset-s2 l4 offset-l4 section orange lighten-5 z-depth-2">
                        <div class="row">
                            <h4 class="center">Community Notices</h4>
                        </div>
                        <p>This is a notice about recent or upcoming events / important dates related to the community.</p>
                    </div>
                </div>
            </div>
            <div parallax>
                <img class="top-banner" src="image01.jpg">
            </div>
        </div>
    </div>
</div>
