<adminnavbar></adminnavbar>
<div id="signup">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <div class="form-container col s8 offset-s2 l4 offset-l4 section orange lighten-5 z-depth-2">
                        <form ng-submit="$ctrl.signup()">
                            <div class="row">
                                <h4 class="center">Create Account</h4>
                                <div class="input-field col s12 l12">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" class="validate" ng-model="$ctrl.user.name" autofocus required>
                                </div>
                                <div class="input-field col s12 l12">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="validate" ng-model="$ctrl.user.email" required>
                                </div>
                                <div class="input-field col s12 l12">
                                    <label for="password">Temp Password</label>
                                    <input type="text" name="password" id="password" class="validate" ng-model="$ctrl.user.password" required>
                                </div>
                                <div class="input-field col s12 l12">
                                    <label for="confirm">Confirm Temp Password</label>
                                    <input type="text" name="confirm" id="confirm" class="validate" ng-model="$ctrl.user.confirm" required>
                                </div>
                            </div>
                            <div class="row center">
                                <button type="submit" class="btn btn-success center-align center">Add User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div parallax>
                <img class="top-banner" src="image01.jpg">
            </div>
        </div>
    </div>
</div>
