#about {
    .row {
        margin-bottom: 0px;
    }
    .icon-block {
        padding: 1px 15px;
        border-radius: 20px;
        .icon {
            margin: 1vw 0 0 0;
        }
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
    .slider-container {
        padding: 0px;
    }
    .top-banner {
        .desc-container {
            padding: 0vw 2vw;
        }
    }
    .mid-banner {
        z-index: 100;
        position: relative;
        box-shadow: 0px -5px 12px -7px black;
        .col {
            margin-bottom: 10px;
        }
        .row {
            margin: 10px 0px;
        }
        img {
            width: 100%;
            height: 100%;
        }
        .satellite-image {
            filter: brightness(1.4) saturate(1.7) contrast(1.1);
        }
    }
    .slider {
        .indicators {
            margin: 5px 0px;
        }
    }
    .indicator-item {
        border: 1px solid gray;
        background-color: #ffe0b2;
    }
    .indicator-item.active {
        background-color: #ff9100;
    }
}
