<div id="adminpanel">
    <div class="row">
        <div class="top-banner orange lighten-5">
            <h4 class="center page-title">Users</h4>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <button type="button" class="btn waves-effect waves-light" ng-click="$ctrl.getUsers()">Get Users</button>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <!-- <th>Admin</th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in $ctrl.users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <!-- <td>{{user.isAdmin}}</td> -->
                        <td><button class="btn">Modify</button><button class="btn">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
