<header>
    <div id="navbar" class="navbar-fixed">
        <nav class="z-depth-2">
            <div class="nav-wrapper orange lighten-4">
                <a ui-sref="home" class="brand-logo left">
                    <div class="logo-back orange lighten-5 z-depth-2">
                        <img src="fullrplogotransparent.png">
                    </div>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li ng-repeat="option in $ctrl.options" ng-if="(option.authOnly === $ctrl.isAuthenticated() || option.authOnly === 'both') && (option.adminOnly === $ctrl.isAdmin() || option.adminOnly === 'both')">
                        <a class="black-text" ui-sref="{{option.state}}">
                            <span>{{option.label}}</span>
                        </a>
                    </li>
                    <li ng-if="$ctrl.isAuthenticated()">
                        <a class="black-text" ng-click="$ctrl.logout()">Log Out</a>
                    </li>
                </ul>
                <a class="button-collapse dropdown-button right" href="#" data-activates="menuDropdown" data-beloworigin="true" dropdown>
                    <i id="menu-button" class="material-icons black-text mr2">menu</i>
                </a>
                <ul id="menuDropdown" class="dropdown-content">
                    <li ng-repeat="option in $ctrl.options" ng-if="(option.authOnly === $ctrl.isAuthenticated() || option.authOnly === 'both') && (option.adminOnly === $ctrl.isAdmin() || option.adminOnly === 'both')">
                        <a class="black-text" ui-sref="{{option.state}}">
                            <span>{{option.label}}</span>
                        </a>
                    </li>
                    <li ng-if="$ctrl.isAuthenticated()">
                        <a class="black-text" ng-click="$ctrl.logout()">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
