@import url(https://fonts.googleapis.com/css?family=Roboto);

$min-navbar-height: 56px;
.top-banner {
    display: block;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
