@import '../common';
.brand-logo {
    height: 100%;
    left: 0px !important;
    img {
        width: 15vw;
        margin-bottom: 1vw;
    }
}

.logo-back {
    line-height: 0px;
    border-radius: 0px 0px 20px 0px;
}

nav ul a {
    color: #000;
}

#menu-button {
    font-size: 3rem;
}

.dropdown-content {
    width: auto !important;
}
