<div id="documents">
    <div class="row">
        <div class="top-banner orange lighten-5">
            <h4 class="center page-title">Download Documents</h4>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <button type="button" class="btn waves-effect waves-light" ng-click="">Add New Document</button>
            <table>
                <thead>
                    <tr>
                        <th>Document Title</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2015 Budget</td>
                        <td>Budgets</td>
                        <td>The accepted 2015 Royal Poinciana Budget</td>
                        <td><a href="/img/myw3schoolsimage.jpg" download>DOWNLOAD</a></td>
                    </tr>
                    <tr>
                        <td>2016 Budget</td>
                        <td>Budgets</td>
                        <td>The accepted 2016 Royal Poinciana Budget</td>
                        <td><a href="/img/myw3schoolsimage.jpg" download>DOWNLOAD</a></td>
                    </tr>
                    <tr>
                        <td>Parking Rules</td>
                        <td>Rules & Regs</td>
                        <td>Parking enforcement rules for Royal Poinciana</td>
                        <td><a href="/img/myw3schoolsimage.jpg" download>DOWNLOAD</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

                            
                        