#documents {
    .top-banner {
        padding: 5px;
    }
    .pageContent {
        margin-top: -20px;
        box-shadow: 0px -5px 12px -7px black;
    }
    .form-container {
        opacity: 1.0;
        border-radius: 20px;
        padding: 0vw 2vw;
    }
}
