<header>
    <hero>
    </hero>
</header>
<div id="about">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <div class="form-container col s8 offset-s2 l4 offset-l4 section orange lighten-5 z-depth-2">
                        <div class="row">
                            <h4 class="center">{{ $ctrl.name }}</h4>
                            <div class="input-field col s12 l12">
                                {{ $ctrl.name }}
                            </div>
                            <div class="input-field col s12 l12">
                                {{ $ctrl.name }}
                            </div>
                        </div>
                        <div class="row center">
                            {{ $ctrl.name }}
                        </div>
                        <div class="row center">
                            {{ $ctrl.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div parallax>
                <img class="top-banner" src="image01.jpg">
            </div>
        </div>
    </div>
</div>
