<navbar></navbar>
<header>
    <hero>
    </hero>
</header>
<main id="residents" class="valign-wrapper">
    <img class="top-banner" ng-src="image01.jpg">
    <div class="section">
        <div class="container">
            <!-- ERROR WARNING MESSAGES!!!!!! -->
            <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
            </div>
            <!-- ERROR WARNING MESSAGES!!!!!! -->
            <div class="row">
                <div class="form-container col s6 offset-s3 l4 offset-l4 section white z-depth-2">
                    <form ng-submit="login()">
                        <div class="row">
                            <h4 class="center">Log In</h4>
                            <div class="input-field col s6 l12">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email" class="validate" ng-model="user.email" autofocus>
                            </div>
                            <div class="input-field col s6 l12">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" placeholder="Password" class="validate" ng-model="user.password">
                            </div>
                        </div>
                        <div class="row center">
                            <button type="submit" class="btn btn-success center-align center">Log in</button>
                        </div>
                        <div class="row center">
                            <a ui-sref="forgot">
                                <strong>Forgot your password?</strong>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footbar></footbar>
